.controller.custom {
    background: url(speechstream.gif);
    width: 261px;
    height: 180px;
}

.custom .bumper {
    position: absolute;
    opacity: 0;
}

.custom .bumper.pressed {
    opacity: 1;
}

.custom .bumper.left {
    background: url(speechlocal.gif);
    width: 243px;
    height: 180px;
}

.custom .bumper.right {
    background: url(speechglobal.gif);
    width: 252px;
    height: 180px;
}
